body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--brand-background-color);
    color: var(--brand-color)
}

:root {
    --brand-color: #2E2F42;
    --brand-background-color: #FFFFFF;
    --brand-back-color: #2E2F42;
    --brand-text: #434455;
    --brand-btn: #404BBF;
    --brand-logo: #2E2F42;
    --brand-logo-color: #4D5AE5;
    --brand-logo-footer: #F4F4FD;
    --brand-link: #2E2F42;
    --brand-hover-focus: #404BBF;
    --brand-contact: #434455;
    --brand-sec-one: #ffffff;
    --brand-main-btn: #ffffff;
    --brand-main-btn-back: #4D5AE5;
    --brand-main-btn-hover: #404BBF;
    --brand-footer-text: #E7E9FC;
    --brand-btn-text: #404BBF;
    --brand-btn-back: #F4F4FD;
    --brand-btn-border: #E7E9FC;
    --brand-btn-hover: #FFFFFF;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* header */


.logo {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--brand-logo);
}

.logo-color {
    color: var(--brand-logo-color)
}

.logo-footer {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--brand-logo-footer)
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-link);
}

.header-link:hover,
.header-link:focus {
    color: var(--brand-hover-focus);
}

.header-contact {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    color: var(--brand-contact);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--brand-hover-focus);
}

/* main */

/* sec 1 */

.back-color {
    background-color: var(--brand-back-color);
}

.sec-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--brand-sec-one);
}

.main-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--brand-main-btn);
    background: var(--brand-main-btn-back);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
    background: var(--brand-main-btn-hover);
}


/* sec 2 */

.sec-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

.sec-two-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-text);
}

/* sec 3 */

.sec-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

/* sec 4 */

.sec-four {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

.sec-four-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

.sec-four-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-text);
}

/* footer */

.back-color {
    background-color: var(--brand-back-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-footer-text);
}

/* portfolio */

/* portfolio sec 1 */

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--brand-btn-text);
    background: var(--brand-btn-back);
    border: 1px solid var(--brand-btn-border);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}


.btn:hover,
.btn:focus {
    color: var(--brand-btn-hover);
    background: var(--brand-btn);
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-text);
}